<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Publicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list lines="full">
  <ion-item *ngFor="let aviso of avisos">
    <ion-card slot="start">
      <img [src]="aviso.imagen" *ngIf="aviso.imagen">
    </ion-card>
    <ion-label>
      <h2>{{ aviso.titulo }}</h2>
      <p>{{ aviso.descripcion }}</p>
      <p>{{ aviso.fecha | date: 'dd/MM/yyyy' }}</p>
    </ion-label>
    <ion-buttons>
    <ion-button fill="clear" color="danger" (click)="eliminarAviso(aviso.id)">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>
</ion-content>






